.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #c2c2d6;
}

.download-btn {
  margin: 10px;
  background-color: #9494b8; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.inst-username-input {
  background-color: #7575a3; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
}
