body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 900px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #c2c2d6;
}

.download-btn {
  margin: 10px;
  background-color: #9494b8;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 1px solid #4d4dff;
  border-radius: 10px;
}

.download-btn:hover {
  cursor: pointer;
}

.inst-username-input {
  background-color: #7575a3; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
}

.inst-username-input::placeholder {
  color: #ccccff;
}
