body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 900px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("./img/background.jpg")
}

/* input styles */
.input {
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  box-sizing: border-box;
  font-size: 18px;
  height: 50px;
  width: 150px;
}
.input:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  border-bottom: none;
  color: white;
}

input:focus::-webkit-input-placeholder {
  color: rgba(236, 219, 219, 0.568);
}

.input:focus + .underline {
  transform: scale(1);
}

/* buttone styles */

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  margin: 10px;
}
.button svg {
  height: 55px;
  width: 150px;
  fill: none;
  stroke-width: 5;
}
.button svg .o1 {
  stroke: rgba(19, 20, 73, 0.7);
  fill: rgba(255, 255, 255, 0);
  transition: all 1s ease-in-out;
}
.button svg .o2 {
  stroke: white;
  stroke-dasharray: 20 420;
  stroke-dashoffset: 20;
  transition: all 1s ease-in-out;
}
.button span {
  position: absolute;
  margin: auto 0;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.button:hover .o1 {
  fill: rgba(34, 16, 139, 0.3);
}
.button:hover .o2 {
  stroke-dashoffset: -420;
}